/*webフォント*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

/* reset & set
-------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  border: 0;
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

//フォームリセット

input,
label,
select,
button,
submit,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font: inherit;
}

/* iOSでのデフォルトスタイルをリセット */
input[type='submit'],
input[type='button'] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  background: none;

  &::-webkit-search-decoration {
    display: none;
  }

  &::focus {
    outline-offset: -2px;
  }
}

select {
  border: none;
  outline: none;
  background: transparent;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

section,
article,
aside,
hgroup,
header,
footer,
nav,
figure {
  display: block;
}

address {
  font-style: normal;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  opacity: 0.8;
}

a img:hover {
  opacity: 0.8;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

li img {
  display: block;
}

a img {
  border-style: none;
}

/*クリアフィックス*/
.cf:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

h2,
h3,
h4 {
  font-weight: 300;
}

body {
  font-family: Yu Gothic Medium, '游ゴシック Medium', YuGothic, '游ゴシック体',
    'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif;
  font-weight: 500;

  line-height: 1.7;
  font-size: 12px;
  color: #333;
  font-weight: normal;
}

/* MACの場合 */

/* WINDOWSの場合 */
body.windows {
  // font-family: '游ゴシック Medium', 'Yu Gothic Medium', sans-serif;
  font-weight: 500;
}

@media all and (-ms-high-contrast: none) {
  body.windows {
    font-family: 'メイリオ', 'Meiryo', sans-serif;
  }
}

/* REM PX変換 */

$baseFontsize: 16;

html {
  //font-size: 100%;
  font-size: $baseFontsize + px;
}

@function rem($pixels) {
  @return $pixels / $baseFontsize * 1rem;
}

html {
  @media (max-width: 767px) {
    font-size: 2.444444vw;
  }
}
