@charset "UTF-8";

/* CSS Document */

body {
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans',
    'ヒラギノ角ゴシック', 'YuGthic', 'Yu Gothic', 'メイリオ', 'ＭＳ Ｐゴシック',
    'MS PGothic', sans-serif;
  font-size: 1.08rem;
}

a {
  color: #3449e8;
  text-decoration: none;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  display: block;
  margin-bottom: 1.22rem;
}

.content_area h2.blog-title01 {
  font-size: 1.88rem;
  line-height: 1.37;

  font-weight: 600;

  margin-bottom: 1.83rem;
  color: #0b842d;
}

.content_area h3.blog-title02 {
  font-size: 1.54rem;
  line-height: 1.28;
  padding-bottom: 0.472rem;
  margin-bottom: 1.81rem;
  /*  border-bottom: 2px solid #d8d8d8;
  position: relative;
  color: #0b842d; */
}

.content_area h4.blog-title03 {
  font-size: 1.38rem;
  /*  padding: 0.66rem 0.73rem;
  padding-left: 0.88rem; */
  margin-bottom: 1.84rem;
}

.content_area h5.blog-title04 {
  font-size: 1.22rem;
  margin-bottom: 1.55rem;
}

p,
p.blog-articles {
  font-size: 1rem;
  letter-spacing: 0.0075em;
  line-height: 1.88;
  margin-bottom: 1.55rem;
}

em {
  font-style: italic;
}

i {
  font-style: italic;
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

img.alignright {
  /* float: right;
    margin-right: 5%; */
  margin-left: auto;
  float: none;
}

img.alignleft {
  /* float: left;
    margin-left: 5%; */
  margin-right: auto;
  float: none;
}

.clearfix {
  overflow: hidden;
  zoom: 1;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.marker {
  background: linear-gradient(to bottom, #fff 70%, #e3f762 100%);
}

strong.strong-text {
  background-color: #fffdc8;
  padding: 0.12rem 0.19rem 0.08rem;
  font-weight: 600;
}

table tr th,
table tr td {
  border: 1px solid #c9c9c9;

  /* text-align: center; */
  /* 	padding: .66rem .33rem; */
  /* vertical-align: middle; */
  line-height: 1.03;
}

table thead tr th,
table thead tr td {
  background-color: #4a4a4a;
  color: #fff;
}
