/* 記事一覧へのボタン */

.c-btn-toList {
    display: block;
    width: 240px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    line-height: 55px;
    color: #ffffff;
    text-align: center;
    position: relative;
    background-color: #f5a94c;
    font-size: 1.02rem;

    @media (max-width: 767px) {
        font-size: 1.4rem;
    }

    &::after {
        border-bottom: 8px solid transparent;
        border-left: 8px solid white;
        border-top: 8px solid transparent;
        content: '';
        display: inline-block;
        left: 27px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
